* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    /*    display: none;*/
    /*
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: lime;

    display: flex;
    align-items: center;
    justify-content: space-around;
*/

    background: lime;
    position: absolute;
    width: 50%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    z-index: -1;

    background: url("http://lorempixel.com/400/200/nature") no-repeat;
    background-size: cover;
    background-position: center;

}

nav {
    display: none;
}

/* Would either need to reorder the dom so sections come before nav, or just implement scroll spy and target/header nav relationship in javascript */
/* section#one:hover ~ nav a[href="one"] */
nav a:hover {
    color: blue;
}

section {
    position: absolute;
    z-index: 1;
    /*    height: 100vh;*/
    background: #dabda3;
    background-attachment: fixed;

    border: 1px solid red;
    opacity: .5;
}

section#one {
    //    float: left;
    height: 1vh;
    left: 0;
    top: 0;
    width: 25%;

    //    background: none;
    //    @include angle-edge(-60deg, after, 70vh, url("http://lorempixel.com/400/200/nature")); // angle-edge($angle: 30deg, $pseudo: 'after', $height: 50%, $background: inherit)
}

section#two {
    display: none;
    //    float: right;
    left: 25%;
    top: 0;
    width: 75%;
    min-height: 35.55%;
    //    @include angle-edge(-60deg, after, 100%);
    //    transform: rotate(60deg);
}

section#three {
    display: none;
    right: 0;
    width: 50%;
    //    top: -25%;
    //    transform: rotate(-60deg);
}

section#four {
    display: none;
    right: 0;
    bottom: 0;
    width: 25%;
    min-height: 1vh;
    //    @include angle-edge(-60deg, before);
}

section#five {
    display: none;

    left: 0;
    bottom: 0;
    width: 75%;
    min-height: 1vh;
    //    @include angle-edge(60deg, before);
}

section#six {
    display: none;

    left: 0;
    width: 50%;

    height: 1vh;
    top: 50%;
    transform: translate(-50%, -50%);
    //    transform: rotate(-60deg);
    background: green;
    //    @include angle-edge(60deg, both);
}

section h2 ~ * {
    display: none;
}

section h2::before {
    content: '';
}
