:root {
    --hex-width: 150px;
    --sqrt-three: 1.732;
    --hex-side: calc(var(--hex-width) / var(--sqrt-three));
    --main: green;
}

* {
    scroll-behavior: smooth;
}

html {
    /*            overflow: hidden;*/
}

/*TODO: add clipping for images and browsers that support it */

div,
header,
section {
    /*    background: rgba(218, 189, 163, .9);*/
    display: grid;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    /*    font-family: 'Lexend Zetta', sans-serif;*/
    /*    font-family: 'Gruppo', sans-serif;*/
    /*    font-family: 'Manjari', sans-serif;*/

    /*    font-family: 'Fredericka the Great', sans-serif;*/

    /*    font-family: 'Flamenco', cursive;*/
    font-family: 'Nixie One', cursive;
    /*    font-family: 'Averia Serif Libre', cursive;*/
    /*    font-family: 'Averia Libre', cursive;*/

}

h1,
h2 {
    font-size: 1.125em;
}

h1 a,
h2 a {
    text-decoration: none;
    color: white;
}

header {
    display: none;
    /*
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: lime;

    display: flex;
    align-items: center;
    justify-content: space-around;
*/

    /*
    background: black;
    opacity: .4;
    filter: alpha(opacity=40);
*/
    /* For IE8 and earlier */

    /*    z-index: -1;*/
}

nav {
    display: none;
}

/* Would either need to reorder the dom so sections come before nav, or just implement scroll spy and target/header nav relationship in javascript */
/* section#one:hover ~ nav a[href="one"] */
nav a:hover {
    color: blue;
}

section {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid white;

    opacity: .1;

    color: white;
    overflow: hidden;
    z-index: 1;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
    z-index: -1;

    /*    @supports (mix-blend-mode: hue) {*/
    /*    opacity: 1;*/
    /*    mix-blend-mode: soft-light;*/
    mix-blend-mode: hue;
    /*    mix-blend-mode:multiply;*/

    /*    mix-blend-mode: overlay;*/

    /*
    mix-blend-mode: color;
    mix-blend-mode: hard-light;
    mix-blend-mode: hue;
*/
    /*    }*/
    transition: mix-blend-mode 1s;
}

section:hover::before {
    /*    mix-blend-mode: multiply;*/
}

section::after {
    content: '';
    width: 110%;
    height: 110%;
    /*    display: block;*/
    z-index: -2;

    background-size: cover;
    position: absolute;
}

section#center {
    width: calc(var(--hex-width) + 5%);
    /*    width: calc(var(--hex-width) * 2);*/
    /*    max-width: 100px;*/
    height: calc(2 * var(--hex-side) + 5%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*    transform: translate(-50%, -50%) skewY(30deg);*/
    /*    transform-origin: center center;*/
    /*        display: grid;*/
    z-index: -1;

}

/* TODO: what if made straight, along with 6 and four and just some crossing lines below*/


section#center * {
    margin: auto;
}

section#center::after {
    /*    position: absolute;*/
    top: -10%;
    left: -5%;

    background: var(--main) url("../assets/nature-forest-trees-fog.jpeg") no-repeat;
    background: var(--main) url("../assets/clouds-cloudy-cold-daylight.jpg") no-repeat;

    background: var(--main) url("../assets/black-forest-clouds-cloudy-cold.jpg") no-repeat;


    background-size: cover;
    /*    background-position: center;*/
    /*    background-attachment: fixed;*/
    /*    background-size: 100% 100%;*/
}

section#one {
    left: 0;
    top: 0;
    /*    transform-origin: top right;*/
}

section#one,
section#four {
    height: calc(51vh + var(--hex-side) / 2);
    width: calc(50% - var(--hex-width) / 2);
    /*    transform: skewY(30deg);*/
    display: grid;
}

section#one h2,
section#one::after,
section#four h2,
section#four::after {
    /*    transform: skewY(-30deg);*/
    margin: auto;
}

/* TODO: make margins percentages or minmax */
section#one h2 {
    margin-right: 20px;
    margin-bottom: var(--hex-side);
}

section#one::after {
    position: absolute;
    top: 0;
    right: 0;
    /*    background-position: bottom right;*/

    background: var(--main) url("../assets/forest-2033331_960_720.jpg") no-repeat;

    background: var(--main) url("../assets/forest-1768654_960_720.jpg") no-repeat;

    background: var(--main) url("../assets/1200px-Poland_Common_Forest_Hd_Wallpaper_(30152045).jpeg") no-repeat;

    background-size: cover;
}

section#four {
    right: 0;
    bottom: 0;
    /*    transform-origin: bottom left;*/
}

section#four h2 {
    /*    margin-left: 20px;*/
    margin-top: var(--hex-side);
    margin-left: 20px;
}

section#four::after {
    /*    background-position: top right;*/
    bottom: 0;
    right: 0;
    background: var(--main) url("../assets/moss-green-dashing-the-background.jpg") no-repeat;

    background: var(--main) url("../assets/tree-wood-woodland-forest.jpg") no-repeat;

    /*    flip vertically? */
    background: var(--main) url("../assets/forest-mushrooms.jpg") no-repeat;

    background: var(--main) url("../assets/flowers.jpg") no-repeat;

    background-size: cover;

    /*    check if need to put background-size cover to after */
}

section#two,
section#five {
    /*    width: 75%;*/
    width: calc(50% + var(--hex-width) / 2);
    /*    TODO: may change width */
    /*    height: calc(50vh - var(--hex-side) / 2);*/
    /*    height: calc(50vh - var(--hex-side));*/
    height: calc(50vh - var(--hex-side) / 2);
    /*    transform-origin: center center;*/
    transform: skewY(-30deg);
}

section#two {
    /*    left: calc(50% - var(--hex-width) / 2);*/
    right: 0;
    /*    left section width */
    /*    top: calc(-50vh + var(--hex-side));*/
    top: 0;
    transform-origin: top left;
    /*    transform-origin: top center;*/
}

section#five h2,
section#five::after,
section#two h2,
section#two::after {
    transform: skewY(30deg);
    margin: auto;
}

section#two h2 {
    /*    transform: skewY(30deg);*/
    /*    margin: 50% auto;*/
    /*    margin: auto;*/
    /*    TOOD: fix spacing on this section */
    /*    margin-top: calc(80% - var(--hex-side) / 2);*/
    margin-bottom: var(--hex-side);
    margin-left: 20px;
    /*    margin: auto auto var(--hex-side) 20px;*/
    /*    transform-origin: top left;*/

}

section#two::after {
    /*    background-position: bottom center;*/
    /*    bottom: -50%;*/
    /*    left: 0;*/


    /*    probably switch this section with another */
    background: var(--main) url("../assets/bird.jpg") no-repeat;

    /*    would need to flip */
    background: var(--main) url("../assets/brhlik-forestbird.jpg") no-repeat;

    background: var(--main) url("../assets/Strix-varia-005.jpg") no-repeat;
    /*    background: var(--main) url("../assets/deer-animal-tree-plant-wallpaper-preview.jpg") no-repeat;*/

    background: var(--main) url("../assets/Sfdrw.jpg") no-repeat;
    background: var(--main) url("../assets/deer-forest-wildlife-36041.jpg") no-repeat;


    bottom: 5%;
    right: 0;

    background-size: cover;
    transform-origin: top left;
}

section#five {
    /*    right: calc(50% - var(--hex-width) / 2);*/
    left: 0;
    /*    bottom: calc(-50vh + var(--hex-side));*/
    bottom: 0;
    transform-origin: bottom right;
    /*    transform-origin: bottom center;*/
}

section#five h2 {
    /*    transform: skewY(30deg);*/
    /*    margin: auto 50%;*/
    /*    margin: auto;*/

    /*    margin-top: calc(var(--hex-side) / 2);*/
    margin-top: var(--hex-side);
    margin-right: 20px;

}

section#five::after {
    /*    background-size: cover;*/


    /*    top: -40%;*/
    /*    left: 0;*/
    background: var(--main) url("../assets/forest-firs-green-background-nature-wallpaper-preview.jpg");
    background: var(--main) url("../assets/forest_woodland_drone_view_aerial_view_green-1410057.jpg!d.jpg");
    background: var(--main) url("../assets/stream-in-the-forest.jpg");
    background: var(--main) url("../assets/pexels-photo-1174183.jpeg");

    background: var(--main) url("../assets/moss-green-dashing-the-background.jpg");

    background: var(--main) url("../assets/bird.jpg") no-repeat;


    background: var(--main) url("../assets/deer-forest-wildlife-36041.jpg") no-repeat;
    background: var(--main) url("../assets/Sfdrw.jpg") no-repeat;

    transform-origin: bottom right;
    /*        left: 0;*/

    /*    top: -50%;*/
    /*    bottom: 0;*/
    /*    right: 0;*/
    /*    TODO: if above a certain size, chrom cuts off */
    /*    bottom: -15%;*/
    right: -5%;
    /*    background-position: center left;*/

    background-size: cover;

}

section#three {
    /*
    right: 0;
    top: 0;
*/
    left: 50%;
    bottom: calc(50vh + var(--hex-side));
    transform-origin: bottom left;
}

section#three,
section#six {
    /*    height: calc(50vh + var(--hex-side));*/
    /*    height: calc(50vh);*/
    width: 50%;
    transform: skewY(30deg);
    height: 100vh;
}

section#six {
    /*
    bottom: 0;
    left: 0;
*/
    right: 50%;
    top: calc(50vh + var(--hex-side));
    transform-origin: top right;
    opacity: 1;
    /*    overflow: visible;*/
    border: 1px solid black;
}

section#three h2,
section#three::after,
section#six h2,
section#six::after {
    transform: skewY(-30deg);
}

section#three h2 {
    /*    margin: calc(50vh - var(--hex-side)) auto;*/
    margin: auto;
    /*    TODO: align this text to the bottom of the div */
    /*    margin-bottom: var(--hex-side);*/
    margin-bottom: 50px;
    margin-left: var(--hex-side);
}

section#three::after {
    background-size: cover;

    transform-origin: bottom right;
    /*    background-size: cover;*/
    background: var(--main) url("../assets/clouds-cloudy-cold-daylight.jpg") no-repeat;

    background: var(--main) url("../assets/1200px-Poland_Common_Forest_Hd_Wallpaper_(30152045).jpeg") no-repeat;

    background: var(--main) url("../assets/forest-1768654_960_720.jpg") no-repeat;

    background: var(--main) url("../assets/brhlik-forestbird.jpg") no-repeat;

    background: var(--main) url("../assets/forest-2033331_960_720.jpg") no-repeat;

    background-position: bottom center;

}

section#six h2 {
    /*    margin: 90% auto auto auto;*/
    /*    margin: auto;*/
    /*    TODO: align this h2 to the right */
    /*    margin-top: calc(var(--hex-side) * 1.75);*/
    /*    margin-right: 20px;*/
    margin: auto;
    margin-top: 50px;
    margin-right: var(--hex-side);
}

section#six::after {
    bottom: 0;
    right: 0;
    background: var(--main) url("../assets/tree-wood-woodland-forest.jpg");

    background: var(--main) url("../assets/Dark_Forest_2-1600.jpg") no-repeat;
    background: var(--main) url("../assets/trail-2721814_1280.jpg") no-repeat;
    background: var(--main) url("../assets/forest-mushrooms.jpg") no-repeat;
    background: var(--main) url("../assets/forest_woodland_drone_view_aerial_view_green-1410057.jpg!d.jpg") no-repeat;

    /*    right: 0;*/
    /*        bottom: 10%;*/

    transform-origin: bottom left;

    background-position: center left;
    background-size: cover;
}

section h2 ~ * {
    display: none;
}


/* transform origin
background position if larger than it takes to cover box

*/
