* {
    scroll-behavior: smooth;
}

div,
header,
section {
    border: 1px solid black;
    background: rgba(218, 189, 163, .25);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*    overflow: hidden;*/
}

header {
    /*    display: none;*/
    /*
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: lime;

    display: flex;
    align-items: center;
    justify-content: space-around;
*/

    /*
    background: black;
    opacity: .4;
    filter: alpha(opacity=40);
*/
    /* For IE8 and earlier */

    position: absolute;
    width: 50%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skewY(30deg);
    transform-origin: center center;
    text-align: center;
    color: white;

    /*    z-index: -1;*/
}

header *,
header::after {
    transform: skewY(-30deg);
}

header::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    /*    position: absolute;*/

    background: url("http://lorempixel.com/400/200/nature") no-repeat;
    /*    background-size: cover;*/
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    display: none;
}

/* Would either need to reorder the dom so sections come before nav, or just implement scroll spy and target/header nav relationship in javascript */
/* section#one:hover ~ nav a[href="one"] */
nav a:hover {
    color: blue;
}

section {
    position: absolute;

    background-attachment: fixed;
    text-align: center;
}

section#one {
    left: 0;
    top: 0;
    transform-origin: top right;
}

section#one,
section#four {
    height: 70vh;
    width: 25%;
    transform: skewY(30deg);
    display: grid;
}

section#one h2,
section#four h2 {
    transform: skewY(-30deg);
    margin: auto;
}

section#four {
    right: 0;
    bottom: 0;
    transform-origin: bottom left;
}

section#two {
    left: 25%;
    top: 0;
    transform-origin: top left;
}

section#two,
section#five {
    width: 75%;
    height: 35.55%;
    transform: skewY(-30deg);
}

section#five {
    right: 25%;
    bottom: 0;
    transform-origin: bottom right;
}

section#five h2 {
    transform: skewY(30deg);
    margin: auto 50%;
}

section#two h2 {
    transform: skewY(30deg);
    margin: 50% auto;
}

section#three {
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
}

section#three h2 {
    margin: 70% auto;
}

section#six {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100vh;
}

section#six h2 {
    margin: 200% auto auto auto;
}

section h2 ~ * {
    display: none;
}
