:root {
    --hex-width: 150px;
    --sqrt-three: 1.732;
    --hex-side: calc(var(--hex-width) / var(--sqrt-three));
    --main: green;
    /* https://colorpalette.org/tree-spruce-pine-family-color-palette-2/ */
    --dark-green: #263E31;
    --alt-dark-green: #1c412d;
    --main-green: #2f5d4a;
    --light-green: #4c826d;
    --alt-light-green: #5ca77e;

    --dark: #13211f;
    --gray: #6c7476;
    --light-gray: #c8d3d4;
    --light: #e1e7e9;

    --dark-blue: #284548;
    --main-blue: #436767;
    --light-blue: #85a39e;
    --alt-light-blue: #b0c1c1;

    --arrow-thickness: 2px;
    --border: 1px solid white;
    --header-height: 1.5em;

    --gradient: linear-gradient(120deg, var(--dark-green), #7d370b, var(--light-blue));
    --light-alpha: rgba(225, 231, 238, .5);
    --light-min-alpha: rgba(225, 231, 238, .25);
    --light-max-alpha: rgba(225, 231, 238, .75);
    --dark-alpha: rgba(19, 33, 31, .5);
    --dark-min-alpha: rgba(19, 33, 31, .25);
    --dark-max-alpha: rgba(19, 33, 31, .75);


}

/*background-image: linear-gradient(120deg, #eaee44, #33d0ff);*/
* {
    scroll-behavior: smooth;
}

html {
    /*            overflow: hidden;*/
}

/*TODO: add clipping for images and browsers that support it */

div,
header,
section {
    /*    background: rgba(218, 189, 163, .9);*/
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    /*    border: 1px solid white;*/
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    /*    font-family: 'Lexend Zetta', sans-serif;*/
    /*    font-family: 'Gruppo', sans-serif;*/
    /*    font-family: 'Manjari', sans-serif;*/

    /*    font-family: 'Fredericka the Great', sans-serif;*/

    /*    font-family: 'Flamenco', cursive;*/
    font-family: 'Nixie One', cursive;
    /*    font-family: 'Averia Serif Libre', cursive;*/
    /*    font-family: 'Averia Libre', cursive;*/

}

h1,
h2 {
    font-size: 1.125em;
}

h1 a,
h2 a {
    text-decoration: none;
    color: white;
}

header {

    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    background: var(--dark-alpha);
    border-bottom: var(--border);

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: inherit;

    backdrop-filter: blur(3px);

    /*
    background: black;
    opacity: .4;
    filter: alpha(opacity=40);
*/
    /* For IE8 and earlier */

    /*    z-index: -1;*/
}

/*
header::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}
*/

nav {
    display: none;
}

/* Would either need to reorder the dom so sections come before nav, or just implement scroll spy and target/header nav relationship in javascript */
/* section#one:hover ~ nav a[href="one"] */
nav a:hover {
    color: blue;
}

section {
    display: none;
    text-align: center;
    box-sizing: border-box;
    /*    border: 2px solid white;*/
    width: 100%;
    height: 100vh;
    padding-top: var(--header-height);

    /*    display: grid;*/
}

/*

section:target::before {
    content: '';
    height: var(--header-height);

    display: block;
    margin: calc(-1 * var(--header-height)) 0 0;
}
*/

section::after {
    content: '';
    width: 100%;
    height: 100vh;
    /*        display: block;*/
    z-index: -2;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--gradient);
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;

    /*    @supports (mix-blend-mode: hue) {*/
    /*    opacity: 1;*/
    /*        mix-blend-mode: soft-light;*/
    /*    mix-blend-mode: hue;*/

}

section#center {
    position: relative;
    z-index: 1;
    background: var(--main);
    color: var(--light);
}

section#center .search-bar {
    display: inline-block;
}

.search-bar {
    background: var(--light-min-alpha);
    border-radius: 1em;
    padding: 0 5px;
    width: auto;
    transition: all .5s;
}

.search-bar:hover {
    background: var(--light-max-alpha);
}

section#center::after {
    background: var(--main) url("../assets/nature-forest-trees-fog.jpeg") no-repeat;
    background: var(--main) url("../assets/clouds-cloudy-cold-daylight.jpg") no-repeat;

    background: var(--main) url("../assets/black-forest-clouds-cloudy-cold.jpg") no-repeat;

    background-size: cover;

    height: 30vh;
    background-position: center left;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    /*    background-attachment: fixed;*/
    /*    background-size: 100% 100%;*/
}

section#one {
    position: relative;
    display: block;
}

section#one div {
    background: var(--dark-alpha);
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}

button {
    margin: 5px;
    padding: 5px;
    background: none;
    color: var(--light);
    border: none;
    transition: all .3s;
    height: 2em;

    transition: all .3s;
    text-transform: uppercase;

    font-family: "Varela Round";
    font-size: .75em;
}

button:hover,
button:focus {
    letter-spacing: 1px;
    box-shadow: 0px 5px 40px -10px var(--light-max-alpha);
    transform: scale(1.05);
}

button:active {
    transform: scale(.9);
}

/* Expand space between letters */
/* Brings up and shadow fades */
button.primary {
    border: .5px solid var(--light);
    background: var(--dark-min-alpha);
}

button.primary:hover {
    border: 1px solid var(--light);
}

button.primary:hover,
button.secondary:hover {

    text-shadow: 0px 0px 6px var(--light-max-alpha);
}

button.secondary {
    background: var(--light-alpha);
    color: var(--dark);
}

button.secondary:hover {
    background: var(--light-max-alpha);
}

/* Gradient to nothing */
button.cancel:hover {}

/* Pulse */
button.submit {}

button.download {}

button.share {}

/*hexagonal buttons*/
button.add {}

button.add,
button.remove {
    position: relative;
}

button.add i,
button.remove i {
    width: 12.5%;
    height: 12.5%;

    border-top: 1px solid var(--light);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 44.75%;
    overflow: visible;
}

button.remove i {
    transform: rotate(45deg);
}

button.remove i::after,
button.add i::after {
    content: '';
    display: block;
    background: var(--light);

    height: 1px;
    width: 100%;

    position: absolute;
    top: -1px;
    left: 0;

    transform: rotate(90deg);
    transform-origin: center center;
}


button.remove {}

/*TODO: frosted */
/* Small circle to full*/
button.back {
    color: var(--dark);

    background: var(--light-alpha);

    /*    margin: 0;*/
}

button.back,
button.more {
    vertical-align: middle;
    padding: 0;
    /*    TODO: if supports flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;

    transition: all .3s;

    position: relative;
    overflow: hidden;
}

button.back::before,
button.more::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: var(--light-max-alpha);

    transform: scale(0, 1);
    transform-origin: right top;
    z-index: -1;

    transition: transform .3s linear;
}

button.back:hover::before,
button.more:hover::before {
    transform: scale(1, 1);

    transform-origin: left top;

}

button.back i,
button.more i {
    width: .75em;
    height: .75em;
    border-width: var(--arrow-thickness) 0 0 var(--arrow-thickness);
    border-style: solid;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*    color: #666;*/

    box-sizing: border-box;
}

button.back i {
    transform: rotate(-45deg);
    transition: margin .3s;
    margin: 0 1em 0 0;
}

button.more i {
    transform: rotate(135deg);
    margin: 0 0 0 1em;
}

button.back i::after,
button.more i::after {
    content: '';
    /*    box-sizing: border-box;*/
    /*    display: inline-block;*/


    width: 1.25em;

    height: var(--arrow-thickness);
    position: absolute;
    left: 0;
    top: calc(-.75 * var(--arrow-thickness));

    transform-origin: top left;
    transform: rotate(45deg);

    transition: width .3s;

    /* IE might not support background, TODO: try with this */
    /*
    box-shadow: inset 0 0 0 32px;
    right: 0;
    top: -2px;
    position: absolute;
    height: var(--arrow-thickness);
    
    transform: rotate(-45deg);
    width: 23px;
    transform-origin: right top;
*/
}

button.back i::after {
    background: var(--dark);
}

button.more i::after {
    background: var(--light);
}

button.back:hover i::after {
    width: 1.75em;
}

button.back:hover i {
    margin-right: 1.5em;
}

button.more {}


/* download? */
/* Share */
/* add */
/* remove */
section#one::after {
    display: block;

    /*        background-position: bottom right;*/

    background: var(--main) url("../assets/forest-2033331_960_720.jpg") no-repeat;

    background: var(--main) url("../assets/forest-1768654_960_720.jpg") no-repeat;

    background: var(--main) url("../assets/1200px-Poland_Common_Forest_Hd_Wallpaper_(30152045).jpeg") no-repeat;
    position: absolute;
    bottom: 0;


    background-size: cover;
}

section#four::after {
    /*    background-position: top right;*/

    background: var(--main) url("../assets/moss-green-dashing-the-background.jpg") no-repeat;

    background: var(--main) url("../assets/tree-wood-woodland-forest.jpg") no-repeat;

    /*    flip vertically? */
    background: var(--main) url("../assets/forest-mushrooms.jpg") no-repeat;

    background: var(--main) url("../assets/flowers.jpg") no-repeat;

    background-size: cover;

    /*    check if need to put background-size cover to after */
}


section#two::after {
    /*    background-position: bottom center;*/
    /*    bottom: -50%;*/
    /*    left: 0;*/


    /*    probably switch this section with another */
    background: var(--main) url("../assets/bird.jpg") no-repeat;

    /*    would need to flip */
    background: var(--main) url("../assets/brhlik-forestbird.jpg") no-repeat;

    background: var(--main) url("../assets/Strix-varia-005.jpg") no-repeat;
    /*    background: var(--main) url("../assets/deer-animal-tree-plant-wallpaper-preview.jpg") no-repeat;*/

    background: var(--main) url("../assets/Sfdrw.jpg") no-repeat;
    background: var(--main) url("../assets/deer-forest-wildlife-36041.jpg") no-repeat;
    background-size: cover;
}

section#five::after {

    background: var(--main) url("../assets/forest-firs-green-background-nature-wallpaper-preview.jpg");
    background: var(--main) url("../assets/forest_woodland_drone_view_aerial_view_green-1410057.jpg!d.jpg");
    background: var(--main) url("../assets/stream-in-the-forest.jpg");
    background: var(--main) url("../assets/pexels-photo-1174183.jpeg");

    background: var(--main) url("../assets/moss-green-dashing-the-background.jpg");

    background: var(--main) url("../assets/bird.jpg") no-repeat;


    background: var(--main) url("../assets/deer-forest-wildlife-36041.jpg") no-repeat;
    background: var(--main) url("../assets/Sfdrw.jpg") no-repeat;

    /*    background-position: center left;*/

    background-size: cover;

}

section#three::after {
    background: var(--main) url("../assets/clouds-cloudy-cold-daylight.jpg") no-repeat;

    background: var(--main) url("../assets/1200px-Poland_Common_Forest_Hd_Wallpaper_(30152045).jpeg") no-repeat;

    background: var(--main) url("../assets/forest-1768654_960_720.jpg") no-repeat;

    background: var(--main) url("../assets/brhlik-forestbird.jpg") no-repeat;

    background: var(--main) url("../assets/forest-2033331_960_720.jpg") no-repeat;

    background-size: cover;
    background-position: bottom center;

}

section#six::after {
    background: var(--main) url("../assets/tree-wood-woodland-forest.jpg");

    background: var(--main) url("../assets/Dark_Forest_2-1600.jpg") no-repeat;
    background: var(--main) url("../assets/trail-2721814_1280.jpg") no-repeat;
    background: var(--main) url("../assets/forest-mushrooms.jpg") no-repeat;
    background: var(--main) url("../assets/forest_woodland_drone_view_aerial_view_green-1410057.jpg!d.jpg") no-repeat;

    background-position: center left;
    background-size: cover;
}
